
<section>
       
        <h2>Browse Trips</h2>
        <div id="filters">

        </div>


        <div class="trip-gallery">
                <div class="card" ng-repeat="trip in $ctrl.trips">
                        <h3 class="card-header">{{trip.name}}</h3>
                        <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <h6 class="card-subtitle text-muted">Support card subtitle</h6>
                        </div>
                        <img style="height: 200px; width: 100%; display: block;" src="">
                        <div class="card-body">
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="card-link">Card link</a>
                                <a href="#" class="card-link">Another link</a>
                        </div>
                        <div class="card-footer text-muted">
                                2 days ago
                        </div>
                </div>
        </div>
</section>